.row1-wrap{
    display: inline-block
}
.row2-wrap{
    margin-top: 40px;
    padding-top: 5em;
}
.firstRowWrap{
    font-size: 100px;
    color : white;
    margin-top: 22vh;
}
.firstRowWrap span{
    font-size: 20px
}
.trips{
    margin-top: 32vh;
    padding-left: 40px;
    font-size: 20px;
    color: white;
}

.second-row-wrap{
    
}
.secondRowCount{
    font-size: 70px;
    color : white;
}

.secondRowIcon{
    font-size: 25px;
    color: white;
}